$supported-fonts: Helvetica, sans-serif;
$text-color: rgba(0, 0, 0, .87);
$quote-text-color: rgba(0, 0, 0, .56);
$inaccent-color: rgba(0, 0, 0, .36);

$background-color-1: #E1BEE7;
$background-color-2: #9FA8DA;
$background-color-3: #B2DFDB;
$background-color-4: #F0F4C3;
$background-color-5: #FFFDE7;
$background-color-6: #FFE0B2;
$background-color-7: #FFCCBC;