$supported-fonts: Helvetica, sans-serif;
$text-color: rgba(white, .8);
$quote-text-color: white;
$inaccent-color: rgba(white, .6);

$background-color-1: #9C27B0;
$background-color-2: #3F51B5;
$background-color-3: #009688;
$background-color-4: #607D8B;
$background-color-5: #00838F;
$background-color-6: #2E7D32;
$background-color-7: #0091EA;