@import "variables";
@import "fonts";

@import "compass/css3/box-sizing";
@import "compass/reset/utilities";
@import "compass/css3/transform";
@import "compass/css3/transition";

@include global-reset;

ul {
    @include reset-list-style;
}

*,
*:after,
*:before {
    @include reset-focus;
    @include box-sizing(border-box);
}

a {
    text-decoration: none;
    color: $text-color;
}

html {
    height: 100%!important;
    @include font(16px, 24px);
}

html, body {
    overflow-x: auto;
    overflow-y: auto;
}

body {
    min-height: 100%;
    color: $text-color;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    padding-bottom: 72px;

    &.color-1 {
        background-color: $background-color-1;
    }

    &.color-2 {
        background-color: $background-color-2;
    }

    &.color-3 {
        background-color: $background-color-3;
    }

    &.color-4 {
        background-color: $background-color-4;
    }

    &.color-5 {
        background-color: $background-color-5;
    }

    &.color-6 {
        background-color: $background-color-6;
    }

    &.color-7 {
        background-color: $background-color-7;
    }
}

.footer {
    position: absolute;
    width: 100%;
    height: 72px;
    bottom: 0;
    left: 0;
    padding: 0 56px;

    .footer__copyright,
    .footer__regards {
        width: 49%;
        display: inline-block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @include font(12px, 68px);
        color: $inaccent-color;
    }

    .footer__copyright {
        text-align: left;
    }

    .footer__regards {
        text-align: right;
        word-spacing: 2px;

        .footer__hearts {
            color: #f46f67;
        }
    }
}

.generator {
    position: relative;
    width: 100%;
    height: 100%;
}

.generator__quote {
    position: absolute;
    width: auto;
    min-width: 760px;
    height: auto;
    display: inline-block;
    padding: 21px 28px;
    border: 4px solid white;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    
    @media (max-width: 760px) {
        max-width: 70%;
    }

    .quote__tags {
        width: 100%;
        margin: 14px 0;

        .tag__list {
            .tag__item {
                display: inline-block;
                margin-right: 7px;
                @include font(12px, 22px);
                padding: 0 9px;
                text-transform: uppercase;
                border: 1px solid white;
                border-radius: 4px;
                letter-spacing: 1px;
            }
        }
    }

    .quote__text {
        position: relative;
        margin: 48px 0;
        color: $quote-text-color;

        blockquote {
            text-align: justify;
            cursor: pointer;
            @include poet-font(24px, 40px);
            @include transition(color 250ms ease);

            &:hover {
                color: #FFCDD2;
            }
        }
    }

    .quote__footer {
        text-align: right;

        .quote__author, .quote__date {
            display: inline-block;
            @include font(12px, 20px);
        }
    }
}

.next-quote-button {
    position: absolute;
    bottom: 100px;
    left: 50%;
    border: 2px solid white;
    background-color: transparent;
    border-radius: 4px;
    @include font(16px, 36px);
    padding: 2px 16px 0;
    font-weight: 300;
    text-transform: uppercase;
    color: $text-color;
    cursor: pointer;
    @include translateX(-50%);
    @include transition(color 250ms ease, border-color 250ms ease);

    &:hover {
        color: #FFCDD2;
        border-color: #FFCDD2;
    }
}